
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

<ul class="nav nav-tabs">
        <li>
          <%= link_to 'Home', root_path('rocks#index') %>
        </li>
        <li>
          <%= link_to 'New Rock', new_rock_path(@rock) %>
        </li>
      </ul>
      <div class="page-header">
        <h1>
          The Gallery of Rocks: <small>Jesus Christ Marie, they're not rocks. They're minerals...</small>
        </h1>
      </div>
    </div>
  </div>
