<%= render 'header' %>
<div class="row">
<div class="col-md-12">
<div class="bg-success text-white">
<%= render 'form', {action: "update", method: "patch"} %><br>
<%= link_to 'Go Back', :back, :class => "btn btn-info"  %>
</div>
</div>
</div>
</div>

