body{
  background-color: teal;

}
.container{
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 300px;
}
.box{
  top: 50%;
  margin: 0 auto;
  width:  500px;
  height: 300px;
  position: absolute;
  background-color: pink;
  border: 3px solid black;
}
#hoverText{
  text-align: center;
  top: 1.5em;
  position: relative;

}
h1{
  font-family: helvetica;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

#me{
  margin: 0 auto;
  top: 2em;
  border-radius: 50%;
  border: 3px solid black;
  background-image: url(me.jpg);
  width: 150px;
  height: 150px;
  position: relative;
background-size: cover;
}

#emojis {
  position: relative;
  padding: 0;
  font-size: 35px;
  top: -30px;
  left: 120px;
}
ul li {
  list-style: none;
  display: inline-block;
}
#changePerson{
  position:  relative;
  margin: 0 auto;
 left: 45%;
}



