<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class = "navContainer">
<div class="three columns">
<div class="pageTitle">
  <h5>Mytko Realty Apartment Directory</h5>
</div>
</div>
<div id="nav" class="nine columns">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/buildings">Buildings</a></li>
    <li><a href="/doormen">Doormen</a></li>
    <li><a href="/apartments">Apartments</a></li>
    <li><a href="/tenants">Tenants</a></li>
  </ul>
</div>
</div>
<br><br>
<div class="container">
{{#buildings}}
 <div class = "buildings">
<div class="one-half column">
<p><span class ="title">Building Number: </span><a href="/building/{{id}}" title="">{{id}}</a></p>
<p><span class ="title">Building Name: </span>{{name}}</p>
<p><span class ="title">Building Address: </span>{{address}}</p>
<p><span class ="title">Number of Floors: </span>{{num_floors}}</p>
<br><br>
</div>
</div>
{{/buildings}}
</div>
</body>
</html>
