<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>DELETE</h1>
{{#creatures}}
<!--
 <div class = "creatures">
<p><span class ="title">Species: </span>{{species}}</p>
<p><span class ="title">Family: </span>{{family}}</p>
<p><span class ="title">Habitat: </span>{{habitat}}</p>
<p><span class ="title">Diet: </span>{{diet}}</p>
<p><span class ="title">Planet: </span>{{planet}}</p>
    <form method="POST" action="/creatures/{{id}}?_method=DELETE"> 
    <button>DELETE</button> 
  </form>
</div>
-->
{{species}}
{{/creatures}}
</body>
</html>



